.dashboard-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.my-charts {
    height: 100%;
    overflow: auto;
    width: 50%;
    position: relative;
    background-color: hsl(200, 50%, 90%);
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
     -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.upload-section {
    position: sticky;
    top: 0;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.upload-section h2{
    font-size: 36px;
    align-self: center;
    margin-right: 50px;
    font-weight: 700;
    color: hsl(200, 50%, 60%);
}

.upload-btn {
    align-self: center;
    background-color: hsl(200, 50%, 80%);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.charts-section{
    display:flex;
    width: 100%;
    justify-content: center;
}

.my-charts::-webkit-scrollbar {
    display: none;
}

.songlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.songlist .dashboard-li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0px;
    width: 90%;
    border-radius: 20px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.1);
}

.song-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.songlist .dashboard-img {
    aspect-ratio: 1/1 ;
    height: 60px;
    border-radius: 15px;
    margin: 5px;
}

.song-title-dashboard {
    align-self:center;
    margin-right: 80px;
    font-weight: 600;
}

.rating-dashboard {
    align-self: center;
    margin-right: 20px;
    font-size: 12px;
    color: hsl(200, 0%, 60%)
}

.delete-btn {
    background-color: hsl(0, 50%, 80%);
    margin: 5px;
    padding: 10px 5px;
    border-radius: 20px;
    color: hsl(200, 0%, 20%);
}

.edit-btn {
    background-color: hsl(200, 50%, 80%);
    margin: 5px;
    padding: 15px 15px;
    border-radius: 20px;
    color: #fff;
}


.edit-container {
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
     -5px -5px 15px rgba(255, 255, 255, 0.3);
     /* display:none; */
}

.meta-form {
    border: 1px solid black;
    width: 80%;
    justify-self: center;
}

.meta-form form {
    display: flex;
    flex-direction: column;
}

.meta-form input { 
    color: grey;
    background-color: hsl(200, 50%, 80%);
}

.edit-container {
    display: none;
}

.edit-container.open {
    display: block;
}